:root {
  --value-fontsize: 20px
}

.main__body {
  height: 300px;
  width: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* outline: 10px solid #FF725E; */
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}

.restart__btn {
  margin-bottom: 10px;
  border-radius: 8px;
  font-size: 16px;
  padding: 15px;
  margin-top: 100px;
  font-weight: 700;
  background: #FF725E;
  color: white;
}

button {
  background-color: aliceblue;
  font-size: var(--value-fontsize);
}

button:hover {
  color: white;
  font-weight: 700;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: rgb(176, 141, 199);
  background: linear-gradient(38deg, rgba(176, 141, 199, 1) 0%, rgba(227, 172, 172, 1) 61%, rgba(249, 219, 176, 1) 100%);
}
.win__value{
  color: white;
  font-weight: 700;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: rgb(176, 141, 199);
  background: linear-gradient(38deg, rgba(176, 141, 199, 1) 0%, rgba(227, 172, 172, 1) 61%, rgba(249, 219, 176, 1) 100%);
}