:root {
  --value-fontsize: 80px
}

.main__body {
  max-width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  max-height: 500px;
  border-radius: 20px;
  gap: 5px;
  position: relative;
  top: 20%;

}

.restart__btn {
  margin-bottom: 10px;
  border-radius: 8px;
  font-size: 16px;
  padding: 15px;
  margin-top: 100px;
  font-weight: 700;
  background: #FF725E;
  color: white;
}

button {
  background-color: aliceblue;
  font-size: var(--value-fontsize);
}

button:hover {
  color: white;
  font-weight: 700;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: rgb(176, 141, 199);
  background: linear-gradient(38deg, rgba(176, 141, 199, 1) 0%, rgba(227, 172, 172, 1) 61%, rgba(249, 219, 176, 1) 100%);
}

.win__value {
  color: white;
  font-weight: 700;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: rgb(176, 141, 199);
  background: linear-gradient(38deg, rgba(176, 141, 199, 1) 0%, rgba(227, 172, 172, 1) 61%, rgba(249, 219, 176, 1) 100%);
}

.multi__wrapper {
  display: grid;
  height: 98vh;
  grid-template-columns: 1fr 1fr;

}

.multi__wrapper div {}