:root {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  background-image: linear-gradient(to top, #fdccc8 10%, #ffffff 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

button {
  outline: invert;
  border: 1px solid rgb(209, 207, 207);
}